/* xxl-device Start*/
@media (min-width: 1400px){}

/* xl-device Start*/
@media (min-width: 1200px) and (max-width: 1399.98px){
    /* Offer Responsive CSS Start */
    #offer .offer_img{
        margin-left: -30px;
      }
}

/* lg-device Start*/
@media (min-width: 992px) and (max-width: 1199.98px){
    .featured_item_overly2 ul {
        padding-top: 30px;
      }

    /* Offer Responsive CSS Start */
    #offer .offer_img{
        margin-left: -15px;
      }
}

/* md-device Start*/
@media (min-width: 768px) and (max-width: 991.98px){}

/* sml-device Start*/
@media (min-width: 576px) and (max-width: 767.98px){

}

/* xsml-device Start*/
@media (max-width: 575.98px){
    /* Banner Responsive CSS Start */
    #banner .slider_content{
        text-align: center;
    }
    /* Banner Responsive CSS End */
}

@media (max-width: 991.98px){
    /* Navbar Responsive CSS Start */
    #navbar .navbar-brand img {
        width: 80%;
    }
    .mobile_menu ul li {
        display: inline-block;
    }
    /* Banner Responsive CSS Start */
    #banner .slider_item{
        height: 466px;
    }

    /* Offer Responsive CSS Start */
    #offer .offer_img{
        margin-left: 0px;
      }

}
